body {
    background-color:black;
    font-size: medium;
}

* {
    box-sizing: border-box; /* limits the max width & max height of any box
    ( total width = width + padding + border + margin  &  total height = height + padding + border + margin ) */
}
.button
 {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
    
    display: table-cell;
    width: 20%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    padding :1em;
    border: 1px solid white; 
    background-color: black;
    color : white;
    transition: all 0.5s ease-out;
}
.button:hover {
    cursor: pointer; 
    background-color: white;
    color : black;
    width: 25%;
    height: 15%;
    left:300px;
    font-size: x-large;
    text-align: left;
}

/*.button:hover {
    animation-name: colorchange; 
    animation-duration: 1s ;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}*/

@keyframes positionChange {
    0% {left : 0; }
    100% {left : 100; }
    
}   